* {
  margin:0;
  padding: 0;
}

p {
  margin: 10px 0;
}

h2, h3 {
  margin-bottom: 15px;
  text-align: center;
  padding: 40px 0 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.25em;
  font-weight: normal;
  transition: .2s ease;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: helvetica, sans-serif;
}

header {
  text-align: center;
  height: 160px;
  background: #CE5151;
  border-bottom: 1px solid #B92E2E;
  color: #fff;
}

#open-link, #close-link{
  display: block;
  position: fixed;
  top: 0;
  left: -40px;
  padding-left: 40px;
  padding-top: 40px;
}

#open-link a, #close-link a {
  display: block;
  text-align: center;
  background: #333;
  color: #fff;
  text-decoration: none;
  width: 50px;
  padding: 10px;
  transition: all .3s ease;
}

#open-link a:hover, #close-link a:hover {
  background: #222;
  cursor: pointer;
}

#open-link a {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

#close-link {
  position: absolute;
}

#outer-close-overlay {
  display:none;
}

#header-wrapper {
  width: 300px;
  height: 100%;
  background: #444;
  position: fixed;
  left: -380px;
  marin: 0;
  transition: all .3s ease;
  box-shadow: none;
  opacity: 0;
}

#header-wrapper:target {
  margin-left: 380px;
  z-index: 500;
  color: #fff;
  box-shadow: 0 -5px 30px 0px #000;
  opacity: 1;
}

#header-wrapper:target #outer-close-overlay {
  display:block;
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  height: 100%;
  cursor: default;
  filter: blur(10px);
}

#header-wrapper ul {
  list-style: none;
  margin-top: 20px;
}

#header-wrapper ul li a{
  display: block;
  padding: 10px 20px;
  background: #333;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #444;
  transition: all .2s ease;
}

#header-wrapper ul li a:hover{
  background: #222;
}

#header-wrapper p {
  padding: 0 20px;
}

#content-wrapper {
  max-width: 100%;
  padding: 40px;
}

.title{
  text-decoration: underline;
  color:#B92E2E
}
p{
  text-align: justify;
}
.content {
  padding: 1%;
}
footer{
  margin:2%;
}

/*pagination*/

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  background:#CDDC39;
  font-family: 'Arimo', sans-serif;
}
h2{
  color:#000;
  text-align:center;
  font-size:2em;
}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:95%;
  border-radius:25px;
  overflow:hidden;
  padding:20px;  

}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel,
#six:checked ~ .panels #six-panel,
#seven:checked ~ .panels #seven-panel,
#eight:checked ~ .panels #eight-panel,
#nine:checked ~ .panels #nine-panel,
#ten:checked ~ .panels #ten-panel,
#eleven:checked ~ .panels #eleven-panel,
#twelve:checked ~ .panels #twelve-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab,
#six:checked ~ .tabs #six-tab,
#seven:checked ~ .tabs #seven-tab,
#eight:checked ~ .tabs #eight-tab,
#nine:checked ~ .tabs #nine-tab,
#ten:checked ~ .tabs #ten-tab,
#eleven:checked ~ .tabs #eleven-tab,
#twelve:checked ~ .tabs #twelve-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .warpper {
    flex-direction: column;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Optional: center the tabs on smaller screens */
    
  }

  .tab {
    margin: 10px; /* Add spacing between tabs */
  }

  .panels {
    width: 90%; /* Ensure full width on smaller screens */
  }

}

